.container {
  background-color: inherit;
  width: 80px;
}

.photographer,
.writer,
.actor {
  font-size: 0.7em;
  margin-bottom: 0.3em;
  transition: color 100ms ease-in;
}

.photographer:hover,
.writer:hover,
.actor:hover {
  color: #f1c40f;
}
