.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 150;
  padding: 0 7.5%;
}

.authorHome {
  font-weight: 600;
  font-size: 1.2em;
  height: 36px;
}

.authorStory {
  visibility: hidden;
}

.header button {
  font-weight: 600;
  font-size: 1.2em;
  background-color: inherit;
  height: 36px;
  cursor: pointer;
}

.menuBtnHome {
  color: #19222c;
}

.menuBtnStory {
  color: #fff;
}

.fadeDown {
  animation-name: fadeInDown;
  animation-fill-mode: both;
  animation-duration: 800ms;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
